body, html {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-image: url("../img/BG_Escritorio.jpg");
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    
}
.navbar img {
    height: 70px;
    margin: 0;
    padding: 0;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-weight: bold;
}
.navbar ul li a.contact {
    background-color: #1777b4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.navbar .menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.title {
    font-size: 6em;
    margin: 0;
    text-align: center;
}

button {
    background-color: #1777b4;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.6);
}
footer p {
    margin: 5px 0;
    color: black;
}
footer img {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 70px;
    height: auto;
}
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #ffffff;
        padding: 0;
    }
    .navbar ul li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    .navbar ul li a {
        color: black;
        font-weight: 500;
    }
    .navbar .menu-icon {
        display: block;
    }
    .navbar ul.show {
        display: flex;
    }
footer {
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%; 
      }
}

.main {
    text-align: center;
    padding: 50px 20px;
}
.main h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 50px;
    gap: 20px;
    flex-wrap: wrap;


}
.team {
    background: #e6e6e6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.team-member {
    border-radius: 10px;
    padding: 20px;
    width: 190px;
    text-align: center;
}
.team-member img {
    width: 100%;
    border-radius: 50%;
}
.team-member h3 {
    margin: 15px 0 5px;
    font-size: 18px;
    font-weight: bold;
}
.team-member p {
    margin: 0;
    font-size: 14px;
}
.portfolio-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #1777b4;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

main {
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-bottom: 20px;
    font-size: 4em;
    margin: 0;
    color: white;
}

.text-and-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2em;
    margin: 5px 0 20px 0;
    display: flex;
    color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-style: oblique;
    padding-left: 20px;
    overflow: hidden;
}

.text-box {
    flex: 1;
    padding: 20px;
}

.image-box img {
    max-width: 100%;
    height: auto;
    margin-right: 200px;
    border-radius: 5%;
}
